@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,400;1,600&display=swap");
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: #ffffff;
}
.logo {
  text-align: center;
}
.logo a {
  display: inline-block;
  font-size: 20px;
  color: #07042f;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.logo-1 {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 24px;
  background-color: #281aef;
  border-radius: 2px;
}
.logo-2 {
  width: 13px;
  height: 24px;
  position: absolute;
  top: 32px;
  background-color: #70deff;
  border-radius: 2px;
  bottom: 0;
  right: -3px;
  left: 11px;
}
.main-nav {
  display: flex;
  margin-left: 40rem;
}
.nav-links {
  list-style: none;
  padding: 1rem;
}
.nav-links a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #07042f;
  font-size: 16px;
}
.nav-button {
  all: unset;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #07042f;
  padding: 16px 28px;
  border-radius: 100px;
}
.hero-section {
  padding: 70px 0;
  text-align: center;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #07042f;
  margin: 1rem;
  line-height: 20px;
}
.para {
  line-height: 130px;
  font-size: 140px;
  font-weight: bold;
  color: #07042f;
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}
.skills > p {
  font-size: 36px;
  color: #07042f;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #07042f;
}
.skills-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #07042f;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.table > img {
  width: fit-content;
  order: -1;
  margin-bottom: 1rem;
}

.table > h3 {
  margin: 1rem 1rem 0;
}
.table > p {
  margin: 0 0 1rem;
}
.table > p {
  margin: 0.25em 1rem 1rem;
}
.table > img {
  order: -1;
  align-self: center;
}
